.header {
  grid-area: h;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  animation: App-logo-spin infinite 10s linear;
  width: 76px;
  pointer-events: none;
}

.ToolbarBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoginBlock {
  float: right;

  a {
    color: #fff;
    text-decoration: none;
    transition: .3s;

    &:hover {
      color: orange;
    }
  }
}
