@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font: 14px/1.2, 'Roboto', sans-serif;
}

img {
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
  overflow: hidden;
}

.link {
  color: #61dafb;
}

.wrapper {
  display: grid;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 4fr 12fr;

  grid-template-areas: "h h" "n c";
}

.content {
  grid-area: c;
  background-color: grey;
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
